asgiref==3.5.0
autopep8==1.6.0
certifi==2022.9.14
charset-normalizer==2.1.1
distlib==0.3.4
Django==3.2
django-crispy-forms==1.14.0
django-embed-video==1.4.5
django-filter==22.1
django-phonenumber-field==7.0.0
django-twilio==0.14.0
django-user-sessions==1.7.1
filelock==3.6.0
filter==0.0.0.20200724
idna==3.4
phonenumbers==8.12.55
Pillow==9.1.1
platformdirs==2.5.1
pycodestyle==2.8.0
PyJWT==2.5.0
pytz==2022.2.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
twilio==7.14.0
tzdata==2022.1
urllib3==1.26.12
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
