{% extends "user/base.html" %}
{% block title %}
<title>Agrow-Contact us</title>
{% endblock title %}
{% block section1 %}
{% load static %}


  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="{% url 'agro-home'%}">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <img src="{% static './user/assests/images/blog1.jpg' %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>agrow.theteamasper@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 872345698</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required style="height: 300px;"></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    <!--faqs-->
    <div class="section-title">
      <h2>FAQ'S</h2>
  
    </div>
    <div class="container">
      
      <div class="c">
        <input class="inputforfaq" type="checkbox" id="faq-1">
        <h6><label for="faq-1">What Is Agriculture ?</label></h6>
        <div class="p">
          <p>Agriculture is the art and science of cultivating the soil, growing crops and raising livestock. It includes the preparation of plant and animal products for people to use and their distribution to markets.</p>
        </div>
      </div>
      <div class="c">
        <input class="inputforfaq" type="checkbox" id="faq-2">
        <h6><label for="faq-2">How to promote agriculture ?</label></h6>
        <div class="p">
          <p>Agriculture is the art and science of cultivating the soil, growing crops and raising livestock. It includes the preparation of plant and animal products for people to use and their distribution to markets.
          </p>
        </div>
      </div>
      <div class="c">
        <input class="inputforfaq" type="checkbox" id="faq-3">
        <h6><label for="faq-3">Where did you get inspiration ?</label></h6>
        <div class="p">
          <p>Agriculture is the art and science of cultivating the soil, growing crops and raising livestock. It includes the preparation of plant and animal products for people to use and their distribution to markets.
          </p>
        </div>
      </div>

    </div>

<!--ourteam-->
  
<div class="section-title">
  <h2>Our team</h2>

</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
    <hr>
    <div class="profile-card-2"><img src="{% static './user/assests/images/adarsh.jpg' %}"  height="300px" width="100%" class="img img-responsive">
        <div class="profile-name">ADARSH RATHORE</div>
        <div class="profile-username">Product Manager</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
    </div>
</div>
<div class="col-md-4">
    <hr>
    <div class="profile-card-2"><img src="{% static './user/assests/images/nandini.jpg' %}" height="300px" width="100%" class="img img-responsive">
        <div class="profile-name">NANDINI GATTANI</div>
        <div class="profile-username">Web Developer, Media n Content Manager</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
    </div>
</div>
		<div class="col-md-4">
    <hr>
    <div class="profile-card-2"><img src="{% static './user/assests/images/saumya.jpg' %}" height="300px" width="100%" class="img img-responsive">
        <div class="profile-name"">SAUMYA KESHARIYA</div>
        <div class="profile-username">Web Developer</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
    </div>
</div>

		
	</div>
	<div class="row">
		<div class="col-md-4">
    <hr>
    <div class="profile-card-2"><img src="{% static './user/assests/images/nikhil.jpg' %}" height="300px" width="100%" class="img img-responsive">
        <div class="profile-name">NIKHIL BHARTIYA</div>
        <div class="profile-username">App Developer</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
    </div>
</div>
<div class="col-md-4">
    <hr>
    <div class="profile-card-2"><img src="{% static './user/assests/images/rimjhim.jpg' %}" height="300px" width="100%" class="img img-responsive">
        <div class="profile-name">RIMJHIM MISHRA</div>
        <div class="profile-username" style="padding-top: 10px;">Graphic Designer, Media n Content Manager</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
    </div>
</div>
		<div class="col-md-4">
    <hr>
    <div class="profile-card-2"><img src="{% static './user/assests/images/chaitanya.jpg' %}" height="300px" width="100%" class="img img-responsive">
        <div class="profile-name">CHAITANYA WATT</div>
        <div class="profile-username">Graphic Designer</div>
        <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
    </div>
</div>

		
	</div>
</div>





    <!-- ======= Map Section ======= -->
    <!-- <section class="map my-2">
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section>
  </main> -->
  <!-- End #main -->
    <!-- End Map Section -->

  

{% endblock section1 %}