{% extends "user/base.html" %}
{% block title %}
<title>Agrow-info</title>
{% endblock title %}
{% block section1 %}
{% load static %}


<main id="main">

  <!-- ======= Our Team Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Our Info</h2>
        <ol>
          <li><a href="{% url 'agro-home' %}">Home</a></li>
          <li>Our Info</li>
        </ol>
      </div>

    </div>
  </section><!-- End Our Team Section -->



</main><!-- End #main -->
<div class="section-title">
  <h2>News</h2>

</div>
<div class="webinar-grid">

  <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
    <div class="jumbotron left-right-jumbotron-block">
      <div class="webinar-image-container">
        <img src="{% static './user/assests/images/blog2.jpg' %}" width="116px" height="300px">
      </div>
      <h1 class="dundas-blue-text-long pt-5">
        Agritech is changing future of farming. Top 5 stocks benefitting from the change</h1>

      <div class="webinar-content-box pt-5">
        <p>The Union Ministry of Agriculture and Farmers Welfare released on Wednesday the First Advance Estimates of
          production of major Kharif crops for 2022-23 that pegged kharif rice production at 104.99 million tonnes
          during the current season in wake of uneven monsoon, which is 6 per cent lower than the production of 111.76
          mt during the last season.</p>
      </div>
    </div>
  </a>
  <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
    <div class="jumbotron left-right-jumbotron-block">
      <div class="webinar-image-container">
        <img src="{% static './user/assests/images/blog1.jpg' %}">
      </div>
      <h1 class="dundas-blue-text-long pt-5">
        Kharif rice production to drop by 6%: Agriculture Ministry
      </h1>
      <div class="webinar-content-box pt-5">
        <p>The Union Ministry of Agriculture and Farmers Welfare released on Wednesday the First Advance Estimates of
          production of major Kharif crops for 2022-23 that pegged kharif rice production at 104.99 million tonnes
          during the current season in wake of uneven monsoon, which is 6 per cent lower than the production of 111.76
          mt during the last season.

        </p>

      </div>
    </div>
  </a>
  <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
    <div class="jumbotron left-right-jumbotron-block">
      <div class="webinar-image-container">
        <img src="{% static './user/assests/images/blog2.jpg' %}">
      </div>
      <h1 class="dundas-blue-text-long pt-5">
        Visualizing R Advanced Analytics Results in Dundas BI
      </h1>
      <div class="webinar-content-box pt-5">
        <p>The Union Ministry of Agriculture and Farmers Welfare released on Wednesday the First Advance Estimates of
          production of major Kharif crops for 2022-23 that pegged kharif rice production at 104.99 million tonnes
          during the current season in wake of uneven monsoon, which is 6 per cent lower than the production of 111.76
          mt during the last season.

        </p>

      </div>
    </div>
  </a>

  <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
    <div class="jumbotron left-right-jumbotron-block">
      <div class="webinar-image-container">
        <img src="{% static './user/assests/images/blog1.jpg' %}">
      </div>
      <h1 class="dundas-blue-text-long pt-5">
        Time to prioritise financing sustainable agriculture
      </h1>
      <div class="webinar-content-box pt-5">
        <p>The Union Ministry of Agriculture and Farmers Welfare released on Wednesday the First Advance Estimates of
          production of major Kharif crops for 2022-23 that pegged kharif rice production at 104.99 million tonnes
          during the current season in wake of uneven monsoon, which is 6 per cent lower than the production of 111.76
          mt during the last season.

        </p>

      </div>
    </div>
  </a>

  <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
    <div class="jumbotron left-right-jumbotron-block">
      <div class="webinar-image-container">
        <img src="{% static './user/assests/images/blog2.jpg' %}">
      </div>
      <h1 class="dundas-blue-text-long pt-5">
        Centre trying to privatise agriculture and power sectors: KT Rama Rao

      </h1>
      <div class="webinar-content-box pt-5">
        <p>The Union Ministry of Agriculture and Farmers Welfare released on Wednesday the First Advance Estimates of
          production of major Kharif crops for 2022-23 that pegged kharif rice production at 104.99 million tonnes
          during the current season in wake of uneven monsoon, which is 6 per cent lower than the production of 111.76
          mt during the last season.

        </p>

      </div>
    </div>
  </a>

  <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
    <div class="jumbotron left-right-jumbotron-block">
      <div class="webinar-image-container">
        <img src="{% static './user/assests/images/blog2.jpg' %}">
      </div>
      <h1 class="dundas-blue-text-long pt-5">
        how did COVID-19 pandemic pan out for India’s farmers? Check out these 8 charts
      </h1>
      <div class="webinar-content-box pt-5">
        <p>The Union Ministry of Agriculture and Farmers Welfare released on Wednesday the First Advance Estimates of
          production of major Kharif crops for 2022-23 that pegged kharif rice production at 104.99 million tonnes
          during the current season in wake of uneven monsoon, which is 6 per cent lower than the production of 111.76
          mt during the last season.

        </p>

      </div>
    </div>
  </a>


</div>
<!-- ======= Pricing Section ======= -->
<section class="pricing section-bg" data-aos="fade-up">
  <div class="container">

    <div class="section-title">
      <h2>Scheme</h2>
      <p>The Governent of India has launched a number of schemes that favors the farmers and agricultural sectors. The
        main aim of the government is to promote farming sector to help improve their economic conditions.</p>
    </div>

    <div class="row no-gutters">

      <div class="col-lg-4 box">
        <h3>SMAM</h3>
        <h4>Rs1000<span>per person</span></h4>
        <p>The Union Cabinet in July 2020 has approved a new pan India Central Sector Scheme called Agriculture
          Infrastructure Fund (National Agriculture Infra Financing Facility). The scheme shall provide a medium - long
          term debt financing facility for investment in viable projects for post-harvest management Infrastructure and
          community farming assets through interest subvention and financial support.

        </p>

      </div>

      <div class="col-lg-4 box featured">
        <h3>RKVY</h3>
        <h4>Rs2900<span>per person</span></h4>
        <p>The Union Cabinet in July 2020 has approved a new pan India Central Sector Scheme called Agriculture
          Infrastructure Fund (National Agriculture Infra Financing Facility). The scheme shall provide a medium - long
          term debt financing facility for investment in viable projects for post-harvest management Infrastructure and
          community farming assets through interest subvention and financial support.

        </p>

      </div>

      <div class="col-lg-4 box">
        <h3>PMKSY</h3>
        <h4>Rs4900<span>per month</span></h4>
        <p>The Union Cabinet in July 2020 has approved a new pan India Central Sector Scheme called Agriculture
          Infrastructure Fund (National Agriculture Infra Financing Facility). The scheme shall provide a medium - long
          term debt financing facility for investment in viable projects for post-harvest management Infrastructure and
          community farming assets through interest subvention and financial support.

        </p>

      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->
{% endblock section1 %}